html body {
    background-color: #1e2122;
}

html .Header_header__eSk8a {
    background-color: #1e2122;
    margin-bottom: 1%;
}

html .Banner301_banner301__RONKt {
    display: none;
}

html .MyKpMenu_list__tCy9k {
    background-color: #181a1b;
    border-radius: 15px;
}

html .MyKpMenu_leftColumn__jH06L {
    border-radius: 0px 0px 15px 15px;
    background-color: #181a1b;
    border-color: #007ec3;
}

html .HighlightBox_box__v375u {
    background-color: #181a1b;
    border-radius: 0 0 15px 15px;
    color: #fff;
    border-color: #007ec3;
}

html .Link_link__J4Qd8:link,
.Link_link__J4Qd8:visited {
    color: #007ec3;
}

html .Link_link__J4Qd8 {
    align-items: center;
    color: #007ec3;
    display: inline-flex;
}

html .Tabs_tabContent__tfZRo,
.Tabs_tabList__b0nqd {
    background-color: #181a1b;
    border-radius: 0px 0px 15px 15px;
    border-color: #007ec3;
}

html .Fmcg_fmcg__I_usI {
    display: none;
}

html .CookieConsent_holder__ZsT3G {
    display: none;
}

html .Grid_row__tr2af {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    background-color: #1e2122;
}

html .Footer_footer___ffOU {
    background-color: #1e2122;
    border-top: 0.1rem solid var(--color-grayscale-elm-1);
    flex-grow: 0;
    margin-top: 3.2rem;
    padding: 2.4rem 0 3.2rem;
    width: 100%;
}

html .Box_box__03Q3_ {
    background-color: #181a1b;
    border: 1px solid #007ec3;
    border-radius: 15px;
}

html .Tabs_tabList__b0nqd {
    border: 1px solid #007ec3;
    border-radius: 15px 15px 0px 0px;
    background-color: #181a1b;
    display: flex;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html .Input_inputRow__jtTd8 input,
.Input_label__Kyok7 {
    color: #007ec3;
}

html .InputSearch_search__v4PPK input {
    background-color: #181a1b;
}

html .InputSearch_search__v4PPK input:focus {
    background-color: #181a1b;
}

html .SuggestionList_activeItem__uoGWI {
    background: #8dbaed;
}

html .SuggestionList_suggestionsItem__4tPUf {
    cursor: pointer;
    line-height: 20px;
    outline: none;
    padding: 0.6rem 0.7rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1e2122;
    color: #007ec3;
}

html .SuggestionList_recentSearchItem__f94m9 {
    color: #007ec3;
    display: flex;
    justify-content: space-between;
}

html .SuggestionList_categoryLabel__1MA5q div {
    border-bottom: 1px solid var(--color-grayscale-elm-1);
    color: #0073c3;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: #1e2122
}

html .SuggestionList_categoryLabel__1MA5q {
    padding: 0.6rem 0.7rem;
    background-color: #1e2122;
}

html .Input_inputRow__jtTd8 input {
    background-color: #1e2122;
    border: 0.1rem solid #0073c3;
    border-radius: 15px 0px 0px 15px;
    box-shadow: var(--shadow-3);
    height: 3.6rem;
    padding: 0.8rem;
    transition: border-color .3s ease;
    width: 100%;
}

html .ButtonSearch_search__nLSRu.ButtonSearch_isBlue__4Wdib {
    background-color: var(--color-primary-sky-blue);
    border-left: 0.1rem solid var(--color-primary-sky-blue);
    border: 0.1rem solid var(--color-primary-sky-blue);
    border-radius: 0px 15px 15px 0px;
}

html .FeedbackForm_trigger__6FHl2 {
    background-color: #1e2122;
    box-shadow: var(--shadow-1);
    position: fixed;
}

html .MessageList_itemInner__El0Xh .MessageList_itemInfoName___720h {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #007ec3;
}

html .MessageList_itemInner__El0Xh>div:nth-child(2) {
    margin-right: 3.6rem;
    width: 20rem;
    color: #007ec3;
}

html .MessageUserInfo_userName__B4b0W {
    font-weight: 700;
    line-height: 20px;
    margin-left: 0.4rem;
    color: #007ec3;
}

html .Checkbox_label___QfTq {
    line-height: 1.85rem;
    color: #fff;
}

html .FooterBox_title__fadsj {
    font-size: 2rem;
    color: #fff;
}

html .SearchTagContainer_tags__FvBVR {
    background-color: #1e2122;
    padding: 0.8rem 0.8rem 0;
}

html .Link_link__J4Qd8:visited {
    color: #007ec3;
}

html .NotificationItem_itemHolder___6TkM .NotificationItem_item__1NbXF .NotificationItem_title__X39R5 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    line-height: 2.8rem;
}

html .NotificationItem_itemHolder___6TkM .NotificationItem_item__1NbXF .NotificationItem_message__Iol5o {
    display: inline-block;
    line-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    width: 60rem;
    color: #fff;
}

html .ReviewItem_adTitle__eU4Yf {
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: #fff;
}

html .ReviewItem_middleBox__qlU7K p {
    color: #fff;
    margin-right: 1.6rem;
}

html .ReviewItem_middleBox__qlU7K span {
    color: #ffffff;
    display: block;
}

html .MyReviewPage_header__pL1f2 .MyReviewPage_title__J6Gsl {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 0.8rem;
    color: #fff;
}

html .ReviewItem_commentHolder__AYOLp {
    background-color: #007ec3;
    border-radius: 5px;
}

html .ReviewItem_commentHolder__AYOLp {
    word-wrap: break-word;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    max-width: 42.2rem;
    padding: 0.8rem;
    position: relative;
    z-index: 0;
    color: #fff;
}

html .AdViewDescription_descriptionHolder__f7wKf {
    margin: 1.6rem 0;
    padding: 0 1.6rem;
    word-break: break-word;
    color: #fff;
}

html .AdViewInfo_infoBox__XQbkw .AdViewInfo_infoBoxTitle__AwVfo {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    color: #fff;
}

html .AdViewInfo_infoBox__XQbkw {
    word-wrap: break-word;
    margin-bottom: 0.8rem;
    padding: 1.6rem;
    color: #fff;
}

html .BreadcrumbHolder_breadcrumb__KAsXr div:first-child {
    font-size: 1.4rem;
    color: #fff;
}

html .BreadcrumbHolder_breadcrumbHolder__HPbVd {
    line-height: 2rem;
    padding: 0.8rem;
    color: #fff;
}

html .ReviewList_reviewListHeader__dTVg_ p {
    font-weight: 700;
    color: #fff;
}

html .Button_children__3mYJw {
    display: inline-flex;
    color: #fff;
}

html .UserSummary_userNameHolder__Xv1xz {
    align-items: center;
    color: #007ec3;
    display: flex;
    line-height: 2rem;
    margin-top: 0;
    word-break: break-word;
}

html .ButtonSpecial_special__5lAxU {
    background-color: #007ec3;
    border-radius: 15px;
    color: var(--color-primary-navy-blue);
    height: 2.8rem;
    line-height: 2rem;
    padding: 0.4rem 0.8rem;
}

html .AdViewInfo_name__s_9p5 {
    color: #007ec3;
    font-size: 2.4rem;
    line-height: 28px;
    word-break: break-word;
}

html .UserSummary_userInfo__BWXVU p {
    color: #007ec3;
    line-height: 2rem;
    margin-right: 1.6rem;
}

html .H1_pageTitleHolder__zB1E8 h1 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}

html .UserSummary_userSummaryWideHolder__R7s1S {
    background-color: #1e2122;
    border: 1px solid #007ec3;
    border-radius: 15px;
    padding: 1.6rem;
    position: relative;
    z-index: 2;
    margin-bottom: 1%;
}

html .AdItem_adHolder__GL0yo {
    align-items: flex-start;
    background-color: #1e2122;
    border-radius: 4px;
    display: flex;
    height: 13.6rem;
    padding: 0.8rem;
    position: relative;
    width: 100%;
}

html .AdItem_adInfoHolder___36KR p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    display: -webkit-box;
    font-size: 1.4rem;
    line-height: 1.6rem;
    overflow: hidden;
    color: #fff;
    text-overflow: ellipsis;
}

html .AdItem_name__BppRQ {
    color: #007ec3;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 0.4rem;
    max-height: 5.9rem;
    overflow: hidden;
}

html .AdItem_adOuterHolder__Z29Nf {
    border: 1px solid #007ec3;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    position: relative;
    transition: border .3s ease-out;
}

html .AdItem_viewAndFavorite__pjskf .AdItem_count__iNDqG {
    color: #fff;
    margin-left: 0.4rem;
}

html .AdItem_descriptionHolder__xnkD4 p {
    color: #fff;
}

html .GallerySlideItem_imageGalleryImageCustom__KrRyo {
    align-items: center;
    background: #1e2122;
    border-radius: 2px;
    display: flex;
    height: 48rem;
    justify-content: center;
}

html .AdViewInfo_imageHolder__axDnl {
    align-content: center;
    align-items: center;
    background-color: #1e2122;
    border: 1px solid #007ec3;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    height: 14rem;
    justify-content: center;
    margin-right: 1.6rem;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 18.6rem;
}

html .GallerySlideItem_imageGalleryImageModal__Ai7UW div>div {
    align-items: center;
    display: inline-flex !important;
    height: 100%;
    justify-content: center;
    width: 100%;
    background-color: #1e2122;
}

html .GalleryModal_footer__JWrGc {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    background-color: #1e2122;
}

html .GalleryModal_modal__YooCM {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1e2122;
    justify-content: space-between;
}

html .BannerBox_box__mP3rY {
    border: 1px solid var(--color-grayscale-elm-1);
    font-size: 0;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: none;
}

html .MessageChatBox_chatBubble__StKa0 {
    word-wrap: break-word;
    background-color: #46454a;
    border-radius: 8px;
    display: flex;
    -webkit-filter: drop-shadow(0 1px 2px hsla(0, 0%, 9%, .2));
    filter: drop-shadow(0 1px 2px rgba(24, 24, 24, .2));
    flex-direction: column;
    margin-bottom: 1.6rem;
    max-width: 61.2rem;
    padding: 0.8rem;
    color: #fff;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

html .MessageChatBox_chatBubble__StKa0.MessageChatBox_senderIsOwner__DsxLf {
    background-color: #004cda;
    margin-left: auto;
    color: #fff;
}

html .MessageChatBox_chatBox__ehBn5 {
    background: transparent url(12813.png) repeat;
    background-size: auto;
    border: 1px solid #007ec3;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0.8rem;
    overflow-y: auto;
    padding: 1.6rem 1.6rem 0;
    scrollbar-width: thin;
    transition: .3s;
}

html .ButtonPrimaryBlue_primaryBlue__Uz5k1.ButtonPrimaryBlue_isDisabled__p_8oF,
.ButtonPrimaryBlue_primaryBlue__Uz5k1:disabled {
    background-color: #004cda;
    color: #fff;
}

html .MyAds_itemHolder__gklMI article .MyAds_info__nkOrz .MyAds_itemInfoPage___fUrc {
    align-items: center;
    background-color: #181a1b;
    bottom: 0;
    display: flex;
    font-size: 1.2rem;
    justify-content: flex-start;
    line-height: 2rem;
    min-width: 19.6rem;
    padding: 0.45rem 0;
    position: absolute;
}

html .ButtonSecondary_secondary__MOPh4 {
    background-color: #61737c;
    border-radius: 0.2rem;
    box-shadow: var(--shadow-3);
    color: var(--color-primary-navy-blue);
    padding: 0.8rem 1.6rem;
}

html .TextField_textField__nLxbF {
    background-color: #181a1b;
    border: 0.1rem solid #007ec3;
    border-radius: 15px;
    color: #fff;
    height: 100%;
    outline: none;
    padding: 0.7rem 0.8rem;
    scrollbar-width: thin;
    white-space: break-spaces;
    width: 100%;
}

html .CategoryHeadline_box__sRVAt .CategoryHeadline_categoryRightNav__2yLUo {
    background-color: #1e2122;
    border: 0;
    color: #007ec3;
    height: 100%;
    opacity: 0;
    padding: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .3s ease-in-out;
    z-index: 2;
}

html .CategoryHeadline_box__sRVAt .CategoryHeadline_categoryLeftNav__BDgud {
    background-color: #1e2122;
    border: 0;
    color: #007ec3;
    height: 100%;
    opacity: 0;
    padding: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .3s ease-in-out;
    z-index: 2;
}

html .MyKpMenu_isActive__LF4dg {
    background-color: #272d34;
    font-weight: 700;
}

html .MessageList_itemHolder__4DWoR.MessageList_unread__mkLfv .MessageList_itemInner__El0Xh {
    font-weight: 700;
    background: #272d34;
}

html .MessageList_itemHolder__4DWoR.MessageList_unread__mkLfv .MessageList_itemInner__El0Xh>div:nth-child(3) {
    color: #ffffff;
}

html .MessageList_itemHolder__4DWoR.MessageList_unread__mkLfv {
    background-color: #272d34;
    font-weight: 700;
}

html .MessageList_itemHolder__4DWoR:not(:last-child) {
    border-bottom: 1px solid #007ec3;
}

html .ScrollToTop_holder__ckPJ_ {
    background: #272d34;
    border: 1px solid var(--color-primary-sky-blue);
    cursor: pointer;
    padding: 1rem;
    position: fixed;
    right: 1rem;
    top: 45%;
    transition: opacity .3s;
    width: 4.5rem;
    z-index: 10;
}

html .Prepaid_itemHolder__KLgT8 .Prepaid_name__e37C_ {
    display: flex;
    width: 21rem;
    color: #fff;
}

html .Prepaid_itemHolder__KLgT8 .Prepaid_amount__0r16D {
    display: flex;
    justify-content: flex-end;
    width: 10.4rem;
    color: red;
}

html .Prepaid_itemHolder__KLgT8 .Prepaid_description__AVKIz {
    width: 38rem;
    color: #fff;
}

html .Prepaid_prepaidForm__SpqTw .Prepaid_infoHolder__fpTDX {
    border-bottom: 1px solid var(--color-grayscale-elm-1);
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 2.4rem;
}

html .AdItem_isDisplayGoldHeader__nsX0Y .AdItem_adHolder__GL0yo {
    background-color: #46381a;
    border-radius: 0.4rem;
}

html .AdItem_adOuterHolder__Z29Nf.AdItem_isDisplayGoldHeader__nsX0Y {
    border: 1px solid #ffae00;
    border-radius: 0.4rem;
    background-color: #46381a;
}

html .AdGoldHeader_goldHeader__t_ira {
    align-items: flex-start;
    background: #46381a;
    border: none;
    border-radius: 0.4rem 0.4rem 0 0;
    color: #ffae00 !important;
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    height: 3.4rem;
    justify-content: space-between;
    outline: none;
    padding: 0.4rem 0.4rem 0.4rem 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html .Checkbox_checkmark__tKoRm {
    background-color: #32455a;
    border: 0.1rem solid var(--color-grayscale-elm-2);
    border-radius: 2px;
    box-shadow: var(--shadow-3);
    height: 1.6rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .1s;
    width: 1.6rem;
}

html .CategoryHeadline_item__PEebz .CategoryHeadline_circle__rHieS {
    background-color: #1e2122;
    border: 1px solid var(--color-secondary-elm-blue);
    border-radius: 50%;
    height: 5rem;
    margin-bottom: 0.2rem;
    min-width: 5rem;
    padding: 1.2rem;
}

html .TextField_textField__nLxbF:focus {
    background-color: #1e2122;
}